<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-9">
        <h3 class="mt-5">word</h3>
        <div class="d-flex text-center shadow-lg p-3">
          <div class="col"><%= @word.word %></div>
          <div class="col-2"><%= @word.favorites.count %>:いいね</div>
        </div>
      </div>
    </div>
  </div>
</main>